{% extends "layout.html" %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add" id="page-add-order">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Cart<span>.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->
<!-- Cart Page Section Begin -->
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th class="product-h">Product</th>
                        <th>Price</th>
                        <th class="quan">Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- cartitems -->
                    {% for cart_item in cart_items %}
                    <tr>
                        <td class="product-col">
                            <img src="{{ url_for('static', filename='img/products/' + cart_item.image_file) }}" alt="">
                            <div class="p-title">
                                <h5> {{ cart_item.title }}</h5>
                            </div>
                        </td>
                        <td class="price-col"> {{ cart_item.price }} </td>
                        <form id="update" method="POST" action="{{ url_for('update_cart') }}"> 
                        <td class="quantity-col">
                            <div class="pro-qty">                    
                                <input  type="text" value="{{ cart_item.quantity }}" name="update_num">
                            </div>
                        </td>
                        <div>
                            <input type="text" value="{{ cart_item.title }}" name="update_des" hidden>
                        </div>
                        </form>
                        <td class="total">{{ cart_item.item_total_price }}</td>
                        <td class="product-close">
                            <form action="{{ url_for('remove_from_cart', product_id = cart_item.product_id) }}" method="POST">
                                <input class="site-btn clear-btn" type="submit" value="Delete">
                            </form>
                            <input class="site-btn clear-btn" type="submit" value="Update" form="update">
                        </td>
                    </tr>
                    
                    {% endfor %}  
         
                </tbody>
            </table>
        </div>
        <div class="cart-btn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="coupon-input">
                        <input type="text" placeholder="Enter cupone code">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                    <form action="{{ url_for('delete_all') }}" method="POST">
                            <input class="site-btn clear-btn" type="submit" value="Clear Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="shopping-method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shipping-info">
                        <h5>Choose a shipping</h5>
                        <div class="chose-shipping">
                            <div class="cs-item">
                                <input type="radio" name="cs" id="one">
                                <label for="one" class="active">
                                    Free Standard shhipping
                                    <span>Estimate for New York</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="two">
                                <label for="two">
                                    Next Day delievery $10
                                </label>
                            </div>
                            <div class="cs-item last">
                                <input type="radio" name="cs" id="three">
                                <label for="three">
                                    In Store Pickup - Free
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="total-info">
                        <div class="total-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Shipping</th>
                                        <th class="total-cart">Total Cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="total">$ {{ total_price }}</td>
                                        <td class="shipping">$ {{ shipping }}</td>
                                        <td class="total-cart-p">$ {{ total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a href="{{ url_for('checkout')}}" class="primary-btn chechout-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page Section End -->
{% endblock content %}









18	Nike SB Zoom Blazer Mid PRM	90	Inspired by Barcelona's community art spaces, the Nike SB Zoom Blazer Mid PRM men's/women's skate shoe features a patchwork of tumbled leather, leather and canvas.
19	Nike ZoomX Vaporfly Next% 2	200	Competition running shoes can take your performance to the next level, helping you chase new goals and set new records
20	Nike AF1 Shadow	90	The Nike AF1 Shadow women's sneaker adds a fun twist to a classic basketball shoe design, highlighting playful style
21	Air Jordan 4 Retro	225	The Air Jordan 4 Retro men's sneaker is inspired by the classic colourway of the 1985 Air Jordan 1 first year model
22	Nike Flex Advance BP	50	Designed with Nike FlyEase technology, the wider opening makes it easy for little ones to slip into the shoe
23	Nike AF1/1 (GS)	60	This legendary shoe is inspired by mix tapes from the past and present, from vintage song sheets to athlete video highlights
24	Jordan 4 Retro (PS)	30	The Jordan 4 Retro (PS) is inspired by the first year of the AJ4
25	Air Jordan 1 Mid SE (GS)	70	With fun colourways and durable fabric overlays, webbing pulls and faux climbing rope laces, the shoe is inspired by outdoor gear
26	Nike Therma-FIT ADV ACG“Lunar Lake”	130	Filled with recycled polyester, this warm jacket provides excellent coverage for the head and body
27	Nike Sportswear Storm-FIT Windrunner	100	Reflective grid print highlighting the classic V-shape design
28	Nike Sportswear Swoosh	80	The jacket is reversible and combines a high-fluff Sherpa fleece fabric
29	Nike ESC	375	The Nike ESC Women's Jacket is made from a durable woven fabric to keep you comfortable and stylish in all weather conditions
30	Nike Sportswear Swoosh	60	The extra loose fit creates a casual and comfortable feel that defies the weather