{% extends "seller_basic.html" %}
{% block link %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url_for('seller_home') }}"
                                                           aria-label="move to the index page">Home</a></li>
                            <li class="breadcrumb-item active">Product Order</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">
{#        <!-- Main row -->#}
                <table id="example" class="display" >
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Product Information</th>
                        <th>Costumer Information</th>
                        <th>Handle</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for key in product_items %}
                        <tr>
                            <td class="product-col">
                                <img src="{{ url_for('static', filename='img/products/' + product_items[key][1]) }}" width="200px" height="200px" alt="">
                            </td>
                            <td>
                                <h5>{{ key }}</h5><br>
                                {{ product_items[key][0] }}<br>
                                <p>Quantity:</p>{{ product_items[key][2] }}
                            </td>
                            <td>
                                {{ product_items[key][3] }}<br>
                                {{ product_items[key][4] }}<br>
                                {{ product_items[key][5] }}<br>
                                {{ product_items[key][6] }}
                            </td>
                            <td>
                                <div class="row">
                                    {% if product_items[key][8] == 1 %}
                                        <p>Transaction successful</p>
                                    {% elif (product_items[key][8] == 2) %}
                                        <p>On the Way</p>
                                    {% elif (product_items[key][8] == 3) %}
                                        <p>Agree</p>
                                    {% elif (product_items[key][8] == 4) %}
                                        <p>Reject</p>
                                    {% elif (product_items[key][8] == 5) %}
{#                                    <a href="javascript:;" onclick="deleteProduct(${{ product.id }});"  class="ml-5" aria-label="delete"><i class="fa fa-trash-o" style="font-size: 30px"> </i></a>#}
                                        <a href="/agree/{{ product_items[key][7] }}" class="btn btn-success ml-3" >Agree</a>
                                        <a href="/reject/{{ product_items[key][7] }}"  class="btn btn-success ml-3" >Reject</a>
                                    {% endif %}
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block extrajs %}
<script>

$(document).ready(function() {
  $('#example').dataTable();
} );


{#function deleteProduct(id) {#}
{#    var data = {#}
{#        "product_id": id#}
{#    };#}
{#    var req_json = JSON.stringify(data);#}
{#    alert(req_json)#}
    {#$.post("/seller_delete")#}
{#    $.ajax({#}
{#        url: "/seller_delete",#}
{#        type: "post",#}
{#        data: {"product_id": id},#}
{#        contentType: "application/json",#}
{#        dataType:"json",#}
{#        success: function (resp){#}
{#            if (resp.code == 0){#}
{#                location.href="/seller_home";#}
{#            }#}
{#        }#}
{#    })#}
//}
     {#$(function(){#}
     {#    $('.btn-danger').on('click', function(){#}
     {#        var _this = $(this);#}
     {#        var url = _this.attr('data-url');#}
     {#        // 确认是否删除#}
     {#        if(confirm('Confirmation of deletion?？')){#}
     {#            // ajax调用#}
     {#            $.post(url, function(res){#}
     {#                //处理结果#}
     {#                if(res.code == 0){#}
     {#                    _this.parents('tr').hide()#}
                         {#location.href="/seller_home";#}
     {#                }else{#}
     {#                    alert('Failed to delete')#}
     {#                }#}
     {#            })#}
     {#        }#}
     {##}
     {#    })#}
     //{#})#}
$("#example").DataTable({
    "paging": false, // 禁止分页
});
</script>
{% endblock %}

